@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Your privacy is important to us. This Privacy Policy explains how we collect, use, and protect your personal information when you use the Employees Management System.</p>
<h3>Data Usage</h3>
<p>Employee Data Stores locally on your device and is not shared with third parties without your consent.</p>

<h3>Security Measures</h3>
<ul>
    <li>Data Encryption: All sensitive data is encrypted to protect against unauthorized access.</li>
    <li>Access Controls: Only authorized personnel have access to employee data.</li>
    <li>Regular Audits: We conduct regular security audits to identify and address vulnerabilities.</li>
</ul>   